@model hts.Models.HastaYakins

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            AdSoyad
        </th>
        <th>
            x
        </th>
        <th>
            y
        </th>
        <th>
            SIckalık
        </th>
        <th>
            nabız
        </th>
        <th>
            zaman
        </th>
        <th></th>
    </tr>

    @foreach (var x in Model.yakin)
    {
        foreach (var item in Model.acildurum)
        {
            foreach (var y in Model.hastalar)
            {


                if (item.HastaTbhastaTc == x.HastaTbhastaTc && x.HastaTbhastaTc==y.hastaTc)
                {
                    <tr>
                        <td>
                            @y.adSoyad
                        </td>
                        <td>
                            @item.aKonumX
                        </td>
                        <td>
                            @item.aKonumY
                        </td>
                        <td>
                            @item.aSicaklik
                        </td>
                        <td>
                            @item.aNabiz
                        </td>
                        <td>
                            @item.aNabiz
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            }
        }
    }

</table>
