@model hts.Entity.DoktorTb

@{
    ViewBag.Title = "DoktorSil";
    Layout = "/Views/Shared/KurumLayout.cshtml";
}

<h2>Silme</h2>

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.uzmanlikTb.uzmanlikAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uzmanlikTb.uzmanlikAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.maas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.maas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.toplamBileklikSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.toplamBileklikSayisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kontrolundekiBileklikSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kontrolundekiBileklikSayisi)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Geri Dön", "KurumAnasayfa")
        </div>
    }
</div>
