@model IEnumerable<hts.Entity.BileklikTb>
@{
    ViewBag.Title = "KurumLayout";
    Layout = "/Views/Shared/KurumLayout.cshtml";
}

<div class="container">
    @Html.ActionLink("Bileklik Ekle", "BileklikOlusturma", new { did = ViewBag.id }, new { @class = "btn btn-success btn-xs" })
    <table class="table mt-3" style="color:darkcyan">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imalatTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.verilebilmeDurumu)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.imalatTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.verilebilmeDurumu)
                </td>
                <td>
                    @Html.ActionLink("Duzenle", "BileklikOlusturma", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" })
                    @Html.ActionLink("Sil", "BileklikOlusturma", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })

                </td>
            </tr>
        }

    </table>
</div>