@model IEnumerable<hts.Entity.DoktorTb>
@{
    ViewBag.Title = "HastaneAnasayfa";
    Layout = "/Views/Shared/HastaneLayout.cshtml";
}


<table class="table" style="color:darkcyan">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.uzmanlikTb.uzmanlikAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.maas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.toplamBileklikSayisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kontrolundekiBileklikSayisi)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.uzmanlikTb.uzmanlikAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.toplamBileklikSayisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kontrolundekiBileklikSayisi)
            </td>
            <td>
                @Html.ActionLink("duzenle", "DoktorDuzenle", new { id = item.doktorTc },new { @class="btn btn-warning btn-xs"})

            </td>
        </tr>
    }

</table>

