@model IEnumerable<hts.Entity.HastaTb>
@{
    ViewBag.Title = "HastaAnasayfa";
    Layout = "~/Views/Shared/HastaneLayout.cshtml";
}

<p>
    @Html.ActionLink("Hasta Ekle", "HastaOlusturma", new { did = ViewBag.id }, new { @class = "btn btn-success btn-xs" })
  
</p>
<table class="table" style="color:darkcyan">
    <thead >
        <tr>
            <th s>
                Hasta Adı
            </th>
            <th>
                Doktor Adı
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hastaligi)
            </th>
            <th></th>
        </tr>
    </thead>
   

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.adSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.doktorTb.adSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hastaligi)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "HastaDuzenleme", new { id = item.hastaTc }, new { @class = "btn btn-warning btn-xs" })
               
                @Html.ActionLink("Sil", "HastaSilme", new { id = item.hastaTc },new { @class="btn btn-danger btn-xs" })
            </td>
        </tr>
    }

</table>
