@model IEnumerable<hts.Entity.YakinTb>
@{
    ViewBag.Title = "YakinAnasayfa";
    Layout = "~/Views/Shared/HastaneLayout.cshtml";
}

<p>
   
    @Html.ActionLink("Yakın Ekle", "YakinOlusturma", new { id = ViewBag.Id }, new { @class = "btn btn-success btn-xs" })
</p>
<table class="table" style="color:darkcyan">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.doktorTb.adSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HastaTbhastaTc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.doktorTb.adSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HastaTbhastaTc)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "YakinDuzenleme", new { id = item.yakinTc }, new { @class = "btn btn-warning btn-xs" })
                @Html.ActionLink("Sil", "YakinSilme", new { id = item.yakinTc }, new { @class = "btn btn-danger btn-xs" })
              
            </td>
        </tr>
    }

</table>
