@model hts.Entity.HastaTb

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HastaTb</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.doktorTb.adSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doktorTb.adSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hastaligi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hastaligi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.hastaTc }) |
    @Html.ActionLink("Back to List", "Index")
</p>
