@model IEnumerable<hts.Entity.HastaTb>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
           Hasta Adı
        </th>
        <th>
           Doktor Adı
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hastaligi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.adSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doktorTb.adSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hastaligi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.hastaTc }) |
            @Html.ActionLink("Details", "Details", new { id = item.hastaTc }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.hastaTc })
        </td>
    </tr>
}

</table>
