@model hts.Entity.AcilDurumTb

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AcilDurumTb</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hastaTb.adSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hastaTb.adSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aKonumX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aKonumX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aKonumY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aKonumY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aSicaklik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aSicaklik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aNabiz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aNabiz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.olcumZamani)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.olcumZamani)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
