
@model IEnumerable<hts.Entity.BileklikTb>
@{
    ViewBag.Title = "Bileklik";
    Layout = "/Views/Shared/DoktorLayout.cshtml";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hastaTb.adSoyad)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.verilebilmeDurumu)
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.hastaTb.adSoyad)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.verilebilmeDurumu)
                </td>
                <td>
                    @Html.ActionLink("duzenle", "BileklikDuzenle", new { id = item.Id }) |

                </td>
            </tr>
        }
    </tbody>
</table>







