@model hts.Models.DoktorHastaMuayene
@{
    ViewBag.Title = "HastaMuayene";
    Layout = "~/Views/Shared/DoktorLayout.cshtml";
}



<div class="container mt-3">
    <h2>Hasta Muayene</h2>
    <div class="mt-3">

        @Html.ActionLink("Muayene Ekle", "HastaMuayeneOlusturma", new { did = ViewBag.id }, new { @class = "btn btn-warning btn-xs" })
        <table class="table table-striped mt-2" style="color:darkcyan">
            <thead>
                <tr>
                    <th>
                        Hasta Ad Soyad
                    </th>
                    <th>
                        Enlem
                    </th>
                    <th>
                        Boylam
                    </th>
                    <th>
                        Üst Nabız
                    </th>
                    <th>
                        Alt Nabız
                    </th>

                    <th>

                    </th>

                </tr>
            </thead>
            <tbody>

                @foreach (var doktor in Model.doktorlar)
                {
                    foreach (var hasta in Model.hastalar)
                    {
                        foreach (var muayene in Model.muayeneler)
                        {


                            if (doktor.doktorTc == hasta.DoktorTbdoktorTc && hasta.hastaTc == muayene.HastaTbhastaTc)
                            {
                                <tr>
                                    <td>
                                        @hasta.adSoyad
                                    </td>
                                    <td>
                                        @muayene.konumMaxX
                                    </td>
                                    <td>
                                        @muayene.konumMaxY
                                    </td>
                                    <td>
                                        @muayene.nabizMax
                                    </td>
                                    <td>
                                        @muayene.nabizMin
                                    </td>
                                    <td>
                                        @Html.ActionLink("Düzenle", "HastaMuayeneDuzenleme", new { did = doktor.doktorTc,id=hasta.hastaTc }, new { @class = "btn btn-success btn-xs" })
                                        @Html.ActionLink("Sil", "HastaMuayeneSilme", new { did = ViewBag.id }, new { @class = "btn btn-success btn-xs" })

                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr></tr>
                            }
                        }
                    }
                }

            </tbody>
        </table>

    </div>


</div>

