@model hts.Entity.MuayeneTb
@{
    ViewBag.Title = "HastaMuayeneOlusturma";
    Layout = "~/Views/Shared/DoktorLayout.cshtml";
}

<h2>HastaMuayeneOlusturma</h2>

@using (Html.BeginForm("HastaMuayeneOlusturma","Doktor"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Konum", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.konumMaxX, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.konumMaxX, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.konumMaxY, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.konumMaxY, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.konumMaxY, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nabizMax, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nabizMax, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nabizMax, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nabizMin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nabizMin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nabizMin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sicaklikOlcumSikligi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sicaklikOlcumSikligi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sicaklikOlcumSikligi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nabizOlcumSikligi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nabizOlcumSikligi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nabizOlcumSikligi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.konumOlcumSikligi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.konumOlcumSikligi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.konumOlcumSikligi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bildirimSikligi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bildirimSikligi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.bildirimSikligi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HastaTbhastaTc, "HastaTbhastaTc", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("HastaTbhastaTc", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HastaTbhastaTc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
