@model hts.Entity.MuayeneTb
@{
    ViewBag.Title = "HastaMuayeneOlusturma";
    Layout = "~/Views/Shared/DoktorLayout.cshtml";
}



@using (Html.BeginForm("HastaMuayeneOlusturma","Doktor"))
{
    @Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-6">
        
        <div class="form-group">

            @Html.Label("Hasta Tc", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-10">
                @Html.DropDownList("HastaTbhastaTc", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HastaTbhastaTc, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Enlem", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.konumMaxX, new { htmlAttributes = new { @class = "form-control " } })
                @Html.ValidationMessageFor(model => model.konumMaxX, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Boylam", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.konumMaxY, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.konumMaxY, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            @Html.Label("Üst Nabız", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nabizMax, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nabizMax, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Alt Nabız", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nabizMin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nabizMin, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-top:40px;">
                <input type="submit" value="Create" class="btn btn-success" style="margin-right:10px; width:230px;" />
                @Html.ActionLink("Geri", "HastaMuayene", new { @class = "btn btn-success btn-xs" })
            </div>
        </div>
    </div>
</div>

}



