@model IEnumerable<hts.Entity.MuayeneTb>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.hastaTb.adSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.konumMaxX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.konumMaxY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nabizMax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nabizMin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sicaklikOlcumSikligi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nabizOlcumSikligi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.konumOlcumSikligi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bildirimSikligi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.hastaTb.adSoyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.konumMaxX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.konumMaxY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nabizMax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nabizMin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sicaklikOlcumSikligi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nabizOlcumSikligi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.konumOlcumSikligi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bildirimSikligi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
