@model hts.Entity.YakinTb

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>YakinTb</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.doktorTb.adSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doktorTb.adSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HastaTbhastaTc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HastaTbhastaTc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
